<div class="d-flex pb-2 mb-2 border-bottom">
  <h3>Top Up</h3>
</div>
<ngb-tabset>
  <ngb-tab title="By Mpesa" id="mpesaTab">
    <ng-template ngbTabContent>
      <div class="row mx-2">
        <!-- Instructions -->
        <div class="col-xl-3 card bg-light mt-2">
          <div class="card-body">
            <h5 class="card-title">Instructions</h5>
            <div class="d-flex flex-column bd-highlight">
              <div class="bd-highlight">1. Go to Lipa na mpesa; Choose Paybill</div>
              <div class="bd-highlight">2. Enter Business Number: <b>{{businessNo}}</b></div>
              <div class="bd-highlight">3. Enter Account No: <b>Organization name</b></div>
              <div class="bd-highlight">4. Enter amount and send</div>
              <div class="bd-highlight">5. After receiving Mpesa confirmation, Enter details in below form and submit</div>
            </div>
          </div>
        </div>
        <!-- Payment form -->
        <div class="col-xl-9 mt-2">
          <div class="card mb-3 shadow-sm">
            <div class="card-header text-center">
              <h4><b>PAYMENT</b></h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="confirmPayment(form.value)">
              <div class="card-body">
                <div class="row mt-4">
                  <div class="col-md-6">
                    <div class="d-flex flex-column bd-highlight mb-3 border-bottom">
                      <div class="p-1 bd-highlight"><b>To,</b></div>
                      <div class="p-1 bd-highlight">Proaktiv-io technologies ltd,</div>
                      <div class="p-1 bd-highlight">P.O. Box 1593-00100,</div>
                      <div class="p-1 bd-highlight">Nairobi, Kenya.</div>
                      <div class="p-1 bd-highlight mb-3 border-bottom">Tel no: +254 720 200000</div>
                      <div class="p-1 bd-highlight"><b>By,</b></div>
                      <div class="p-1 bd-highlight"><b>Customer:</b> {{otherNames}} {{surname}}</div>
                      <div class="p-1 bd-highlight"><b>Email:</b> {{userEmail}}</div>
                      <div class="p-1 bd-highlight"><b>Company:</b> {{organization}}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex flex-column bd-highlight mb-3 text-right">
                      <!-- payment type -->
                      <div class="p-1 bd-highlight">
                        <div class="form-group form-row mb-1">
                          <label class="col col-form-label">Payment type:</label>
                          <div class="col">
                            <input type="text" class="form-control form-control-sm" formControlName="type" placeholder="payment type"
                              readonly [value]="paymentType">
                          </div>
                        </div>
                      </div>
                      <!-- mpesa trans no -->
                      <div class="p-1 bd-highlight">
                        <div class="form-group form-row mb-1">
                          <label class="col col-form-label">Mpesa Trans No:</label>
                          <div class="col">
                            <input type="text" [class.is-invalid]="istransNoInvalid" [class.is-valid]="istransNoValid"
                              class="form-control form-control-sm" formControlName="transNo" placeholder="mpesa trans no*"
                              maxlength="10">
                          </div>
                        </div>
                        <!-- trans no Errors -->
                        <small class="form-text text-danger float-right mt-0" *ngIf="istransNoInvalid">
                          <div *ngIf="hasTransNoRequiredError">Mpesa trans No is required.</div>
                          <div *ngIf="hasTransNoMinError || hasTransNoMaxError">Please enter a valid number.</div>
                        </small>
                        <small class="form-text text-primary float-right mt-0" *ngIf="istransNoValid">
                          <div>Mpesa trans No: <b>{{transNo}}</b></div>
                        </small>
                      </div>
                      <!-- business no -->
                      <div class="p-1 bd-highlight">
                        <div class="form-group form-row mb-1">
                          <label class="col col-form-label">Business No:</label>
                          <div class="col">
                            <input type="text" class="form-control form-control-sm" formControlName="bizNo" placeholder="business no"
                              readonly [value]="businessNo">
                          </div>
                        </div>
                      </div>
                      <!-- account no -->
                      <div class="p-1 bd-highlight">
                        <div class="form-group form-row mb-1">
                          <label class="col col-form-label">Account No:</label>
                          <div class="col">
                            <input type="text" class="form-control form-control-sm" formControlName="acntNo"
                              placeholder="account no" readonly [value]="accountNo">
                          </div>
                        </div>
                      </div>
                      <!-- status -->
                      <div class="p-1 bd-highlight">
                        Status: <a class="text-warning">Unconfirmed</a>
                      </div>
                      <!-- date -->
                      <div class="p-1 bd-highlight">
                        Date: {{date | date: 'MMM d, y'}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Table -->
                <div class="row my-4 ml-1 table-responsive text-nowrap">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Purchase Units</td>
                        <td>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-dollar"></i></span>
                              </div>
                              <select id="role" [class.is-invalid]="isCurrencyInvalid" [class.is-valid]="isCurrencyValid"
                                class="form-control col form-control-sm col-sm-4" formControlName="currency">
                                <option value="0" selected>Currency*..</option>
                                <option *ngFor="let country of countries">{{country.currency}}</option>
                              </select>
                              <input type="number" [class.is-invalid]="isAmountInvalid" [class.is-valid]="isAmountValid"
                                class="form-control col form-control-sm col-sm-8" formControlName="amount" placeholder="enter amount*">
                            </div>
                            <!-- currency Errors -->
                            <small class="form-text text-danger float-left" *ngIf="isCurrencyInvalid">
                              <div *ngIf="hasCurrencyRequiredError || hasCurrencyDefaultError">Please choose currency.</div>
                            </small>
                            <!-- amount Errors -->
                            <div *ngIf="isAmountInvalid">
                              <small class="form-text text-danger float-left">
                                <div *ngIf="hasAmountRequiredError">Please enter amount.</div>
                              </small>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-right"><b>Total</b></td>
                        <td *ngIf="isCurrencyValid" class="text-success"><b>{{paymentCurrency}}
                            {{paymentAmount | number:'1.2-2'}}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="submit" class="btn btn-sm btn-block btn-info" [disabled]="!form.valid">
                  Confirm Payment
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="By Pay Pal" id="payPalTab">
    <ng-template ngbTabContent>
      <app-pay-pal></app-pay-pal>
    </ng-template>
  </ngb-tab>
</ngb-tabset>