<div class="card border-top-0 mb-5 shadow">
  <div class="card-body">
    <h6 class="bg-light border p-2 mb-2">Create Campaign:</h6>
    <form [formGroup]="form" (ngSubmit)="sendScheduledSms(form.value)">
      <!-- Campaign name -->
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" formControlName="name" id="name"
            placeholder="Campaign name">
          <div class="input-group-append">
            <button class="btn btn-sm btn-primary" [class.bg-success]="" [class.bg-danger]="" type="button"
              (click)="checkName()" [disabled]="!form.controls['name'].valid">
              <div *ngIf="!isChecking">
                Available
                <span *ngIf="">
                  <i class="fa fa-check"></i>
                </span>
                <span *ngIf="">
                  <i class="fa fa-times"></i>
                </span>
              </div>
              <div *ngIf="isChecking" class="sk-circle my-0 py-0">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <!-- group select -->
      <div class="form-group">
        <label for="groups">Subscriber groups</label>
        <div id="groups" class="input-group">
          <select class="form-control form-control-sm" id="groups" formControlName="group">
            <option value='0' selected>Select Group</option>
            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-info btn-sm px-4" (click)="add()" [disabled]="!form.controls['group'].valid" type="button">
              <i class="fa fa-plus"></i> Add
            </button>
          </div>
        </div>
        <small id="groupsHelp" class="form-text text-muted">Groups ensure easy management of subscribers</small>
      </div>
      <!-- group list -->
      <div *ngIf="selectedRecipients.length != 0">
        <h6 class="mb-2 bg-light p-2">Selected Groups:</h6>
        <span *ngFor="let group of selectedRecipients" class="badge badge-pill badge-info badge-sm px-2 m-1">
          {{group.name}}
          <span class="btn btn-sm btn-info" (click)="remove(group)">&times;</span>
        </span>
      </div>
      <!-- Compose message -->
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" class="form-control" formControlName="message" rows="5" placeholder="Compose Message"></textarea>
        <small id="messageHelp" class="form-text text-muted">
          Additional charges apply for characters more than 160.
        </small>
        <small id="messageWarn" *ngIf="max" class="form-text d-flex text-warning bg-light rounded 
        flex-row-reverse bd-highlight">
          Warning: Maximum characters reached!
        </small>
      </div>
      <div [class.text-warning]="max" [class.text-muted]="!max">
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="bd-highlight"> Characters </div>
          <div class="bd-highlight px-2"> | </div>
          <div class="bd-highlight"> {{messageLength}} </div>
        </div>
      </div>
      <hr>
      <!-- Scheduled Campaign -->
      <div class="card">
        <h6 class="card-header">Schedule</h6>
        <div class="card-body">
          <div class="form-check form-check-inline">
            <label class="form-check-label p-2" for="date">Date</label>
            <input class="form-check-input p-2" type="radio" formControlName="schedule" id="date" value="date">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label p-2" for="daily">Daily</label>
            <input class="form-check-input p-2" type="radio" formControlName="schedule" id="daily" value="daily">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label p-2" for="weekly">Weekly</label>
            <input class="form-check-input p-2" type="radio" formControlName="schedule" id="weekly" value="weekly">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label p-2" for="monthly">Monthly</label>
            <input class="form-check-input p-2" type="radio" formControlName="schedule" id="monthly" value="monthly">
          </div>
          <!-- Date -->
          <div class="card mt-2" *ngIf="form.value.schedule != ''">
            <div class="card-body">
              <p class="bg-light p-2" *ngIf="form.value.schedule == 'date'"><b>Date Schedule:</b></p>
              <p class="bg-light p-2" *ngIf="form.value.schedule == 'daily'"><b>Daily Schedule:</b></p>
              <p class="bg-light p-2" *ngIf="form.value.schedule == 'weekly'"><b>Weekly Schedule:</b></p>
              <p class="bg-light p-2" *ngIf="form.value.schedule == 'monthly'"><b>Monthly Schedule:</b></p>
              <div class="row">
                <div class="col-sm-6 mt-3">
                  <div formArrayName="details">
                    <div formGroupName="0">
                      <!-- Date && Monthly-->
                      <div *ngIf="form.value.schedule == 'date' || form.value.schedule == 'monthly'">
                        Choose date:
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="YYYY-MM-DD" formControlName="date" ngbDatepicker
                              #date="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-primary" (click)="date.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Daily -->
                      <div *ngIf="form.value.schedule == 'daily'">
                        Choose time:
                      </div>
                      <!-- Weekly -->
                      <div *ngIf="form.value.schedule == 'weekly'">
                        Choose Day and time:
                        <!-- <label for="weekly">Choose Day and time:</label> -->
                        <div class="form-group">
                          <select id="weekly" class="form-control" formControlName="day" id="selectDayOfWeek"
                            aria-describedby="weeklyHelp">
                            <option value='0' selected>Choose Day of Week...</option>
                            <option *ngFor="let day of week" [value]="day">{{day}}</option>
                          </select>
                          <small id="weeklyHelp" class="form-text text-muted">
                            Select day of the week.
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <ngb-timepicker formControlName="time" [meridian]="meridian"></ngb-timepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-block btn-sm" type="submit">
        <!-- [disabled]="!form.controls['campaignName'].valid || !checked || selectedRecipients.length == 0 ||
        !this.form.get('campaignType').valid"> -->
        <div *ngIf="!isSendingSchedule">
          Save Schedule
        </div>
        <div *ngIf="isSendingSchedule" class="sk-circle my-0 py-0">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
      </button>
    </form>
  </div>
</div>