<div class="d-flex pb-2 mb-2 border-bottom">
  <h3>Contacts</h3>
</div>
<ngb-tabset>
  <!-- subscriber create -->
  <ngb-tab title="Create Subscribers" id="subClientTab">
    <ng-template ngbTabContent>
      <div class="card border-top-0 shadow">
        <div class="card-body">
          <p class="bg-light p-2 rounded"><b>Add Contact:</b></p>
          <form [formGroup]="form" (ngSubmit)="createClient(form.value)">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="phoneIcon"><i class="fa fa-phone"></i></span>
                </div>
                <input type="text" [class.is-invalid]="isCodeInvalid || isCodeValueInvalid" class="form-control form-control-sm col-sm-4"
                  formControlName="code" placeholder="Country Code*" maxlength="4">
                <input type="text" [class.is-invalid]="isPhoneNoInvalid" class="form-control form-control-sm col-sm-8"
                  formControlName="phoneNo" placeholder="Phone Number*" aria-label="Phone number" aria-describedby="phoneIcon"
                  maxlength="9">
              </div>
              <!-- code Errors -->
              <small class="form-text text-danger float-left" *ngIf="isCodeInvalid || isCodeValueInvalid">
                <div *ngIf="isCodeValueInvalid">Country code does not exist.</div>
                <div *ngIf="hasCodeRequiredError">Please enter country code.</div>
                <div *ngIf="hasCodeFormatError">Please enter a valid country code. e.g. +250</div>
              </small>
              <!-- phone no Errors -->
              <small class="form-text text-danger float-left" *ngIf="isPhoneNoInvalid">
                <div *ngIf="hasPhoneNoRequiredError">Please enter your phone number.</div>
                <div *ngIf="hasPhoneNoFormatError">Please enter a valid phone number. e.g. 720000000</div>
              </small>
            </div>
            <button type="submit" class="btn btn-sm btn-primary btn-block mb-2" [disabled]="!isFormValid">
              <div *ngIf="!isCreating">
                Save Contact
              </div>
              <div *ngIf="isCreating" class="sk-circle my-0 py-0">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
              </div>
            </button>
          </form>
          <hr class="mb-4">
          <p class="bg-light p-2 rounded"><b>Add Multiple Contacts:</b></p>
          <div>
            <input style="display: none" type="file" name="selectCsv" id="selectCsv" accept=".csv" #fileUpload (change)="uploadFile($event)">
          </div>
          <div class="input-group mb-0">
            <input type="text" class="form-control form-control-sm" placeholder="Choose Csv file" [value]="fileName"
              readonly>
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="button" (click)="fileUpload.click()">Browse...</button>
              <button type="button" class="btn btn-sm btn-primary" (click)="saveContacts()" [disabled]="!isFileChoosen">
                <div *ngIf="!isAddingClients">
                  Upload Contacts
                </div>
                <div *ngIf="isAddingClients">
                  Uploading..
                  <span class="sk-circle my-0 py-0">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                  </span>
                </div>
              </button>
            </div>
          </div>
          <small class="mt-0">Browse for file to upload/add the subscribers</small>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- subscriber groups -->
  <ngb-tab title="Create Groups" id="subGroupTab">
    <ng-template ngbTabContent>
      <app-sub-groups></app-sub-groups>
    </ng-template>
  </ngb-tab>
  <!-- subscriber list -->
  <ngb-tab title="List of Subscribers" id="subListTab">
    <ng-template ngbTabContent>
      <app-sub-list></app-sub-list>
    </ng-template>
  </ngb-tab>
</ngb-tabset>