<div class="d-flex pb-2 mb-2 border-bottom">
  <h3>Sender Id</h3>
</div>
<ngb-tabset>
  <ngb-tab title="Get Sender Id" id="getSenderIdTab">
    <ng-template ngbTabContent>

      <div class="card border-top-0 mb-5 shadow">
        <div class="card-body">
          <h6 class="bg-light border p-2 mb-2">Acquire:</h6>
          <!-- form -->
          <form [formGroup]="form" (ngSubmit)="acquire(form.value)">
            <!-- sender  id type -->
            <div class="form-check form-check-inline">
              <label class="form-check-label p-2" for="newSenderId">Acquire New</label>
              <input class="form-check-input p-2" type="radio" formControlName="type" id="new" value="newSenderId">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label p-2" for="updateSenderId">Update Existing</label>
              <input class="form-check-input p-2" type="radio" formControlName="type" id="existing" value="updateSenderId">
            </div>

            <div class="card" *ngIf="isTypeValid">
              <div class="card-body" *ngIf="isTypeNew">
                <!-- sender id -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" formControlName="senderId" placeholder="Sender Id*">
                  </div>
                </div>
                <!-- country -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-cog"></i></span>
                    </div>
                    <select id="country" class="form-control form-control-sm" formControlName="country">
                      <option value="0" selected>Choose country*</option>
                      <option *ngFor="let country of countries">{{country.name}}</option>
                    </select>
                  </div>
                </div>
                <!-- payment details -->
                <h6 class="bg-light border p-2 my-2">Payment details:</h6>
                <!-- paybill no -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user fa-lg"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" formControlName="paybillNo" placeholder="Paybill No">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-4">
                    <!-- customer id -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user fa-lg"></i></span>
                        </div>
                        <input type="text" class="form-control form-control-sm" formControlName="customerId"
                          placeholder="Customer Id">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <!-- transNo -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user fa-lg"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="transNo" placeholder="Mpesa transaction id*">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-money"></i></span>
                    </div>
                    <!-- currency -->
                    <select id="role" [class.is-invalid]="isCurrencyInvalid" [class.is-valid]="isCurrencyValid" class="form-control col form-control-sm col-sm-4"
                      formControlName="currency">
                      <option value="0" selected>Currency*..</option>
                      <option *ngFor="let country of countries">{{country.currency}}</option>
                    </select>
                    <!-- amount -->
                    <input type="number" [class.is-invalid]="isAmountInvalid" [class.is-valid]="isAmountValid" class="form-control col form-control-sm col-sm-8"
                      formControlName="amount" placeholder="Payment amount*">
                  </div>
                </div>
                <h6 class="bg-light border p-2 mb-2">Fill application form:</h6>
                <div>
                  <input style="display: none" type="file" name="selectFilledForm" id="selectFilledForm" accept=""
                    #fileUpload (change)="uploadForm($event)">
                </div>
                <!-- upload form -->
                <div class="form-group">
                  <div class="input-group mb-0">
                    <input type="text" class="form-control form-control-sm" placeholder="Choose filled form" [value]="fileName"
                      readonly>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" type="button" (click)="fileUpload.click()">Browse...</button>
                    </div>
                  </div>
                </div>


                <button type="submit" class="btn btn-sm btn-block btn-info" [disabled]="!form.valid || !isFileChoosen">
                  Submit
                </button>


              </div>
            </div>
          </form>
        </div>
      </div>


    </ng-template>
  </ngb-tab>
</ngb-tabset>