.footer-area {
    padding-top: 100px;
    background-color: #33373d;
}
.h5{
	color: #0867f6;
}
.about-heading{
	color: #29be03;
}
.section-gap {
    padding: 120px 0;
}
.single-footer-widget {
    margin-bottom: 30px;
}
.footer-social {
    text-align: left;
}

.footer-social li {
	display:inline-block;
	margin-right:10px;
}

.footer-social li a {
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:50%;
	color:#FFF;
	background-color:#EBEBEB;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.footer-social li a.facebook {
	background-color:#3b5998;
}

.footer-social li a.twitter {
	background-color:#55acee;
}

.footer-social li a.google-plus {
	background-color:#dd4b39;
}

.footer-social li a.instagram {
	background-color:#e95950;
}

.footer-social li a.youtube {
	background-color:#ff0000;
}

.footer-social li a.linkedin {
	background-color:#007bb5;
}
