header.masthead {
    background-image: url('../../../../assets/images/header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90%;
    background-attachment: fixed;
}
.small-caption{
    font-size: 1.2rem;
}
.section-heading{   
    color: rgb(5, 79, 218);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
#products-content{
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: rgb(247, 247, 247);
}
#partners-content{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.card-title{
    color: rgb(0, 158, 231);
    font-weight: bold;
}

// 
.size-4{
    font-size: 3rem;
    color: rgb(5, 79, 218);
}
.title{
    font-size: 1.5rem;
    color: rgb(128, 129, 129);
    line-height: 1.5;
}
.line-shape {
    margin-left: calc(50% - 3rem);
    width: 5rem;
    background-color:  rgb(194, 194, 194);
}
.title-product{
    color: rgb(7, 148, 14);
}
.image {
    width: 200px;
    height: 120px;
}
.image img {
    width: 100%;
    height: auto;
}