<!-- header -->
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <h1 class="text-uppercase">
      <strong>Elevate your Business</strong>
    </h1>
    <hr class="line-shape">
    <p class="text-faded mt-3 small-caption">
      We provide solutions that will help your business to
      <strong class="text-uppercase text-success">grow</strong>.
    </p>
    <button type="button" class="btn btn-sm btn-success btn-lg p-2 small-caption" routerLinkActive="active" routerLink="/signUp"><i
        class="fa fa-sign-in"></i>
      Sign up for MarketMe App</button>
  </div>
</header>
<!-- solutions -->
<section id="our-solutions">
  <div class="container my-5 py-2">
    <h2 class="section-heading mt-4">Our Services</h2>
    <hr class="line-shape">
    <p class="text-center mb-5 mt-4 title"> We provide business solutions,
      tailor made for your business to meet your clients' expectations.
    </p>
    <div class="row mb-5">
      <div class="col-sm-6 p-0">
        <div class="card border-0">
          <div class="card-body d-flex flex-row">
            <div class="p-2">
              <i class="fa fa-globe size-4"></i>
            </div>
            <div class="p-2 bd-highlight">
              <h5 class="card-title">Web Design &amp; Development</h5>
              <p> We develop Mobile and Web applications that are modern and are
                of current design trends while ensuring that their functionality meet and exceeds your business
                requirements as well as your customers
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-0">
        <div class="card border-0">
          <div class="card-body d-flex flex-row">
            <div class="p-2 pr-4">
              <i class="fa fa-mobile-phone size-4"></i>
            </div>
            <div class="p-2 bd-highlight">
              <h5 class="card-title">Mobile Design &amp; Development</h5>
              <p> We develop Mobile and Web applications that are modern and are
                of current design trends while ensuring that their functionality meet and exceeds your business
                requirements as well as your customers
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-0">
        <div class="card border-0">
          <div class="card-body d-flex flex-row">
            <div class="p-0 pr-2">
              <i class="fa fa-code size-4"></i>
            </div>
            <div class="p-2 bd-highlight">
              <h5 class="card-title">Systems Integration</h5>
              <p> For organizations that have multiple systems that need to be integrated,
                our developers are able to integrate them using the best practises and well known tools
                to ensure seamless communication between these applications.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-0">
        <div class="card border-0">
          <div class="card-body d-flex flex-row">
            <div class="p-2 pr-3">
              <i class="fa fa-dollar size-4"></i>
            </div>
            <div class="p-2 bd-highlight">
              <h5 class="card-title">M-Pesa Integrations</h5>
              <p> For organizations that have multiple systems that need to be integrated,
                our developers are able to integrate them using the best practises and well known tools
                to ensure seamless communication between these applications.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-0">
        <div class="card border-0">
          <div class="card-body d-flex flex-row">
            <div class="p-2 pr-2">
              <i class="fa fa-comments size-4"></i>
            </div>
            <div class="p-2 bd-highlight">
              <h5 class="card-title">Bulk Sms Marketing</h5>
              <p> We develop Mobile and Web applications that are modern and are
                of current design trends while ensuring that their functionality meet and exceeds your business
                requirements as well as your customers
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-0">
        <div class="card border-0">
          <div class="card-body d-flex flex-row">
            <div class="p-2">
              <i class="fa fa-cogs size-4"></i>
            </div>
            <div class="p-2 bd-highlight">
              <h5 class="card-title">ICT Consultancy</h5>
              <p> We develop Mobile and Web applications that are modern and are
                of current design trends while ensuring that their functionality meet and exceeds your business
                requirements as well as your customers
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card group -->
    <!-- <div class="card-group mb-5">
        <div class="card">
          <img class="card-img-top" [src]="env.img_solution_mobile" alt="Mobile and Web development">
          <div class="card-body">
            <h5 class="card-title">Mobile &amp; Web</h5>
            <p class="card-text">We develop Mobile and Web applications that are modern and are
              of current design trends while ensuring that their functionality meet and exceeds your business
              requirements as well as your customers.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" [src]="env.img_solution_cloud" alt="Cloud Solutions">
          <div class="card-body">
            <h5 class="card-title">OnPremise &amp; Cloud</h5>
            <p class="card-text">Based on your business needs, we provide solutions that can be hosted
              on your premise or on the cloud. Some solutions can also be implemented in a hybrid architecture
              having both benefits of onpremise and cloud.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" [src]="env.img_solution_planning" alt="ICT Strategy and Planning">
          <div class="card-body">
            <h5 class="card-title">Strategy &amp; Planning</h5>
            <p class="card-text">Our experienced consultants are able to guide your business into the future
              by providing their expertise in matters concerning implementations of ICT systems to lower costs
              and increase profitability of your business.</p>
          </div>
        </div>
      </div> -->
    <!-- card group -->
    <!-- <div class="card-group mb-5">
        <div class="card">
          <img class="card-img-top" [src]="env.img_solution_coding" alt="Custom Software development">
          <div class="card-body">
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Custom made software such as Mpesa integrated software, bulk SMS software, USSD
              software can be developed
              to meet any of your requirements. These systems are develped using the Agile methodology ensuring
              fast developement and go to market.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" [src]="env.img_solution_integration" alt="System Integration">
          <div class="card-body">
            <h5 class="card-title">System Integration</h5>
            <p class="card-text">For organizations that have multiple systems that need to be integrated,
              our developers are able to integrate them using the best practises and well known tools
              to ensure seamless communication between these applications.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" [src]="env.img_solution_onphone" alt="SMS Marketing and Bulk SMS Solutions">
          <div class="card-body">
            <h5 class="card-title">SMS Marketing/Bulk SMS</h5>
            <p class="card-text">Research shows that the most effective method of marketing is through SMS, we
              provide a platform that enables organizatons do effective marketing to promote their products and retain
              their customers through constant engagement with them.</p>
            <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['/signIn']" fragment="benefits"><i
                class="fa fa-book"></i> Learn more</button>
          </div>
        </div>
      </div> -->

  </div>
</section>
<!-- products -->
<section id="products">
  <div id="products-content">
    <h2 class="section-heading mt-0 pt-0">Our Products</h2>
    <hr class="line-shape">
    <div class="row">
      <div class="col-sm-6 d-flex flex-column align-items-center">
        <img [src]="env.img_product_dashboard" alt="MarketMe App Dashboard">
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
        <div class="title-product my-2">
          <h3><b>MarketMe App: Bulk SMS</b></h3>
        </div>
        <div>
          <p>
            Promote your business and retain your clients through our sms marketing App.
            Be able to reach out to potential and existing clients in East Africa to inform them
            about you and your products.
          </p>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['/signIn']" fragment="benefits"><i
              class="fa fa-book"></i> Learn more</button>
          <button type="button" class="btn btn-success px-2" routerLink="/signUp"><i class="fa fa-sign-in pr-1"></i>
            Sign up its Free</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partners -->
<section id="partners">
  <div id="partners-content">
    <h2 class="section-heading mt-0 pt-0">Our Partners</h2>
    <hr class="line-shape">
    <div class="row text-center ml-md-5 pl-md-5">
      <div class="col-sm-2">
        <img [src]="env.img_ms" alt="Microsoft Partner">
      </div>
      <div class="col-sm-2">
        <img [src]="env.img_aws" alt="Amazon Web Services Partner">
      </div>
      <div class="col-sm-2">
        <img [src]="env.img_saf" alt="Safaricom Partner">
      </div>
      <div class="col-sm-2">
        <img [src]="env.img_do" alt="Digital Ocean Partner">
      </div>
      <div class="col-sm-2 mr-md-0 pr-md-0">
        <img [src]="env.img_at" alt="Africa Talking Partner">
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<app-footer></app-footer>