<!-- landing page -->
<section id="jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fliud p-0">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
          <h1 id="companyName">Proaktiv-io Technologies ltd</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- products -->
<section id="products">
  <div class="container text-center">
    <h1>Our Products</h1>
  </div>
</section>
<!-- about us -->
<section id="aboutUs">

</section>
<!-- services -->
<section id="services">

</section>
<!-- testimonials -->
<section id="testimonials">

</section>
<!-- contact us -->
<section id="contactUs">

</section>
<!-- footer -->
<section id="footer">

</section>