<!-- header -->
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Stay ahead of your competition</strong>
        </h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-2 small-caption">
          Start using our SMS Marketing app and be able to communicate with your customers, existing
          or potential, all over East Africa. We provide solutions that will help your business to
          <strong class="text-uppercase text-success">grow</strong>.
        </p>
        <button type="button" class="btn btn-sm btn-outline-primary btn-lg p-2 small-caption"><i class="fa fa-sign-in"></i>
          Sign up for MarketMe App</button>
      </div>
    </div>
  </div>
</header>

<!-- solutions -->
<section id="our-solutions">
  <div class="our-solutions-content">
    <div class="container">
      <h2 class="section-heading">Our Solutions</h2>
      <p> We provide business specific solutions, tailor made for your business ranging from cloud solutions
        to custom systems developed to meet your business needs.</p>
      <div class="card-group mb-5">
        <div class="card">
          <img class="card-img-top" src="../../../../assets/mobileweb.jpg" alt="mobile and web development">
          <div class="card-body">
            <h5 class="card-title">Mobile &amp; Web</h5>
            <p class="card-text">We develop Mobile and Web applications that are modern and are
              of current design trends while ensuring that their functionality meet and exceeds your business
              requirements as well as your customers.</p>
            <!-- <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-book"></i> Learn more</button> -->
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../../assets/cloud.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">OnPremise &amp; Cloud</h5>
            <p class="card-text">Based on your business needs, we provide solutions that can be hosted
              on your premise or on the cloud. Some solutions can also be implemented in a hybrid architecture
              having both benefits of onpremise and cloud.</p>
            <!-- <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-book"></i> Learn more</button> -->
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../../assets/planning.jpg" alt="Strategy and Planning">
          <div class="card-body">
            <h5 class="card-title">Strategy &amp; Planning</h5>
            <p class="card-text">Our experienced consultants are able to guide your business into the future
              by providing their expertise in matters concerning implementations of ICT systems to lower costs
              and increase profitability of your business.</p>
            <!-- <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-book"></i> Learn more</button> -->
          </div>
        </div>
      </div>
      <div class="card-group mb-5">
        <div class="card">
          <img class="card-img-top" src="../../../../assets/coding.jpg" alt="mobile and web development">
          <div class="card-body">
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Custom made software such as Mpesa integrated software, bulk SMS software, USSD
              software can be developed
              to meet any of your requirements. These systems are develped using the Agile methodology ensuring
              fast developement and go to market.</p>
            <!-- <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-book"></i> Learn more</button> -->
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../../assets/integration.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">System Integration</h5>
            <p class="card-text">For organizations that have multiple systems that need to be integrated,
              our developers are able to integrate them using the best practises and well known tools
              to ensure seamless communication between these applications.</p>
            <!-- <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-book"></i> Learn more</button> -->
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../../assets/onphone.jpg" alt="Strategy and Planning">
          <div class="card-body">
            <h5 class="card-title">SMS Marketing</h5>
            <p class="card-text">Research shows that the most effective method of marketing is through SMS, we
              provide a platform that enables organizatons do effective marketing to promote their products and retain
              their customers through constant engagement with them.</p>
            <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-book"></i> Learn more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- products -->
<section id="products">
  <div id="products-content">
    <div class="container pb-5">
      <h2 class="section-heading">Our Products</h2>
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../../assets/dashboard.png" alt="mobile and web development">
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
          <div class="market-me my-2">
            <h3><b>MarketMe App: SMS marketing</b></h3>
          </div>
          <div>
            <p>Promote your business and retain your clients through our sms marketing App.
              Be able to reach out to potential and existing clients in East Africa to inform them
              about you and your products.
            </p>
          </div>
          <div>
            <button type="button" class="btn btn-outline-primary mr-2"><i class="fa fa-book"></i> Learn more</button>
            <button type="button" class="btn btn-success px-2"><i class="fa fa-sign-in pr-1"></i> Sign up its Free</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about us -->
<section id="about-us">
  <div id="about-us-content">
    <div class="container pb-5">
      <h2 class="section-heading text-white">About Us</h2>
      <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
          <div class="about-us-heading my-2">
            Our Mission
          </div>
          <div class="about-us-caption">
            <p>To develop ICT solutions that offer value and promote growth of our customers.
            </p>
          </div>
        </div>
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
          <div class="about-us-heading my-2">
            Our Vision
          </div>
          <div class="about-us-caption">
            <p>To be recognised as the best ICT company that offers customer specific solutions
              in East Africa and Africa as a whole.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center text-center">
          <div class="about-us-heading my-2">
            Our Values
          </div>
          <div class="about-us-caption">
            <p>We at proaktiv-io are <b>OPEN-MINDED</b> people, <b>COMMITTED</b> to all our customers.
              We <b>EMPATHIZE</b> with our clients to develop <b>RELIABLE, CONSISTENT</b> and <b>EFFICIENT</b>
              systems, that meet and <b>EXCEED</b> client <b>EXPECTATIONS</b>.
            </p>
          </div>
          <div class="like-us">Like Us</div>
          <div>
            <button type="button" class="btn btn-outline-success px-2 mr-2"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn btn-outline-primary px-2 mr-2"><i class="fa fa-facebook pr-1"></i></button>
            <button type="button" class="btn btn-outline-warning px-2 "><i class="fa fa-instagram pr-1"></i></button>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</section>

<!-- contact us -->
<section id="contact-us">
  <div id="contact-us-content">
    <div class="container pb-5">
      <h2 class="section-heading">Contact Us</h2>
      <div class="row">
        <div class="col-sm-6 pb-5 d-flex flex-column justify-content-center align-items-center text-center">
          <div>
            <p>
              Senteu plaza, 6th floor, Galana road, <br>
              Phone no: +254-724166274. <br>
              Email: info@proaktivio.com
            </p>
          </div>
          <div>
            <button type="button" class="btn btn-outline-primary px-2"><i class="fa fa-envelope pr-1"></i> Send us a
              message</button>
          </div>
        </div>

        <div class="col-sm-6">
          <img src="../../../../assets/senteulocation.jpg" alt="mobile and web development">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<section id="footer">
  <div id="footer">
    <div class="container">
      <div class="d-flex">
        <p class="mx-auto py-2 text-white">Copyright 2018</p>
      </div>
    </div>
  </div>
</section>