header.masthead {
    background-image: url('../../../../assets/images/header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90%;
    background-attachment: fixed;
}
.small-caption{
    font-size: 1.2rem;
}
.section-heading{   
    color: rgb(13, 55, 145);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3.5rem;
}
#products-content{
    background-color: rgb(247, 247, 247);
}
.card-title{
    color: rgb(13, 189, 57);
    font-weight: bold;
}
#about-us-content{
    background-image: url('../../../../assets/images/aboutus02.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
}
.about-us-heading{
    color: rgb(248, 185, 156);
    font-size: 2rem;
    font-weight: bold;
}
.about-us-caption{
    color: rgb(226, 246, 255);
    font-size: 1.3rem;
}
.like-us{
    color: rgb(226, 246, 255);
    font-size: 1.2rem;
}
.market-me{
    color: rgb(6, 96, 231);
}
#footer{
    background-color: rgb(54, 54, 54);
}