<div class="container form-signup">
  <div class="card text-center shadow mb-5 rounded">
    <div class="card-body">
      <h5 class="text-center mb-3">Sign up</h5>
      <form class="mx-4 mb-3" [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
        <!-- surname & other names-->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="surnameIcon"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" [class.is-invalid]="isSurnameInvalid" class="form-control form-control-sm col-sm-4"
              formControlName="surname" placeholder="Surname*" aria-label="Surname" aria-describedby="surnameIcon">
            <input type="text" class="form-control form-control-sm col-sm-8" formControlName="otherNames" placeholder="Other Names">
          </div>
          <!-- Error -->
          <small class="form-text text-danger float-left" *ngIf="isSurnameInvalid">
            Please enter your surname.
          </small>
        </div>
        <!-- organisation  -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="organisationIcon"><i class="fa fa-home"></i></span>
            </div>
            <input type="text" [class.is-invalid]="isOrgInvalid" class="form-control form-control-sm" formControlName="organisation"
              placeholder="Your Organisation*" aria-label="organisation" aria-describedby="organisationIcon">
          </div>
          <!-- Error -->
          <small class="form-text text-danger float-left" *ngIf="isOrgInvalid">
            Please enter your Surname.
          </small>
        </div>
        <!-- Country  -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="countryIcon"><i class="fa fa-globe"></i></span>
            </div>
            <select [class.is-invalid]="isCountryInvalid" class="form-control form-control-sm" formControlName="country">
              <option value='4' selected>Choose Country*</option>
              <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
            </select>
          </div>
          <!-- Error -->
          <small class="form-text text-danger float-left" *ngIf="isCountryInvalid">
            Please choose your country.
          </small>
        </div>
        <!-- phone no -->
        <div class="form-group">
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="phoneIcon"><i class="fa fa-phone"></i></span>
            </div>
            <input type="text" [class.is-invalid]="isCodeInvalid" class="form-control form-control-sm col-sm-4"
              formControlName="code" placeholder="Code*" maxlength="4">
            <input type="text" [class.is-invalid]="isPhoneNoInvalid" class="form-control form-control-sm col-sm-8"
              formControlName="phoneNo" placeholder="Phone Number*" aria-label="Phone number" aria-describedby="phoneIcon"
              maxlength="9">
          </div>
          <!-- Errors -->
          <small class="form-text text-danger float-left" *ngIf="isCodeInvalid || isCodeNonExistant">
            <span *ngIf="isCodeNonExistant">Country code does not exist.</span>
            <span *ngIf="isInValid('code', 'required')">Please enter country code.</span>
            <span *ngIf="isInValid('code', 'pattern')">Please enter a valid country code. e.g. +250</span>
          </small>
          <!-- Errors -->
          <small class="form-text text-danger float-left" *ngIf="isPhoneNoInvalid">
            <span *ngIf="isInValid('phoneNo', 'required')">Please enter your phone number.</span>
            <span *ngIf="isInValid('phoneNo', 'pattern')">Please enter a valid phone number. e.g. 720000000</span>
          </small>
        </div>
        <!-- email -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="emailIcon"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" [class.is-invalid]="isEmailInvalid" class="form-control form-control-sm" formControlName="email" placeholder="Email Address*"
              aria-label="Surname" aria-describedby="emailIcon">
          </div>
          <!-- Error -->
          <small class="form-text text-danger float-left" *ngIf="isEmailInvalid">
            <span *ngIf="isInValid('email', 'required')">Please enter an email address.</span>
            <span *ngIf="isInValid('email', 'email')">Please enter a valid email.</span>
          </small>
        </div>
        <!-- password -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="passwordIcon"><i class="fa fa-lock fa-lg"></i></span>
            </div>
            <input type="password" [class.is-invalid]="isPasswordInvalid" class="form-control form-control-sm" formControlName="password" placeholder="Password*"
              aria-label="Password" aria-describedby="passwordIcon">
          </div>
          <!-- Error -->
          <small class="form-text text-danger float-left" *ngIf="isPasswordInvalid">
            <span *ngIf="isInValid('password', 'required')">Please enter a password.</span>
            <span *ngIf="passwordStengthInvalid">Please enter a strong password.</span>
          </small>
        </div>
        <!-- confirm password -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="cpasswordIcon"><i class="fa fa-lock fa-lg"></i></span>
            </div>
            <input type="password" [class.is-invalid]="isConfirmPasswordInvalid" class="form-control form-control-sm" formControlName="confirmPassword" placeholder="Confirm Password*"
              aria-label="Confirm Password" aria-describedby="cpasswordIcon">
          </div>
          <!-- Error -->
          <small class="form-text text-danger float-left" *ngIf="isConfirmPasswordInvalid">
            <span *ngIf="isInValid('confirmPassword', 'required')">Please reenter the password.</span>
            <span *ngIf="isInValid('confirmPassword', 'notMatch')">Please enter a matching password.</span>
          </small>
        </div>
        <!-- captcha -->
        <div class="mt-3">
          <re-captcha formControlName="recaptchaReactive"></re-captcha>
        </div>
        <button class="btn btn-primary btn-sm btn-block mt-3" type="submit" [disabled]="!signUpForm.valid">
          <div *ngIf="!isSigningUp">
            Register
          </div>
          <div *ngIf="isSigningUp" class="sk-circle my-0 py-0">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
        </button>
      </form>
      <div class="text-center">Already registered?
        <a routerLink="/signIn">
          Go back to Sign in
        </a>
      </div>
    </div>
    <div class="card-footer text-muted">
      © 2018-2019
    </div>
  </div>
</div>