<!-- Dashboard -->
<div class="pb-2 mb-2 border-bottom">
  <h3>Dashboard</h3> 
</div>
<!-- summary --> 
<div class="row mb-3">
  <div class="col-sm-5">
    <div class="card mt-2">
      <h6 class="card-header">Units Available</h6>
      <div class="card-body">
        <h5 class="d-flex flex-row-reverse bd-highlight">
          {{units | number:'1.2-2'}}
        </h5>
      </div>
    </div>
  </div>
  <!-- reports -->
  <div class="col-sm-7">
    <div class="card mt-2">
      <h6 class="card-header">Reports</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-8">
              Invoices
            </div>
            <div class="col-sm-4">
              <button type="button" (click)="openPurchase(purchaseReportModal)" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-cloud-download"></i>
                Download
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-8">
              Sms Delivery
            </div>
            <div class="col-sm-4">
              <button type="button" (click)="openDelivery(deliveryReportModal)" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-cloud-download"></i>
                Download
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- chart card -->
<div class="card mt-3">
  <h6 class="card-header">
    Subscribers
  </h6>
  <div class="card-body"> 
    <!-- chart -->
    <div *ngIf="expendituresAreLoading" class="spinner mt-3">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div [hidden]="expendituresAreLoading">
      <canvas id="ctx" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
</div>

<!-- PurchaseReportModal  -->
<ng-template #purchaseReportModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <h5 class="modal-title">
      <i class="fa fa-light fa-lg"></i> Invoice: Date parameters</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-inline" [formGroup]="purchasesForm" (ngSubmit)="sendRequestForPurchasesReport(purchasesForm.value)">
      <div class="row">
        <div class="col-sm-6 mt-3">
          From:
          <div class="form-group">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="YYYY-MM-DD" formControlName="from" ngbDatepicker #dateFrom01="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" (click)="dateFrom01.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          To:
          <div class="form-group">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="YYYY-MM-DD" formControlName="to" ngbDatepicker #dateTo02="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" (click)="dateTo02.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-sm mt-3 btn-outline-secondary" [disabled]="!purchasesForm.valid">
        Download
      </button>
    </form>
  </div>
</ng-template>

<!-- DeliveryReportModal  -->
<ng-template #deliveryReportModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-light">
    <h5 class="modal-title">
      <i class="fa fa-light fa-lg"></i> Sms Delivery: Date parameters</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-inline" [formGroup]="deliveryForm" (ngSubmit)="sendRequestForDeliveryReport(deliveryForm.value)">
      <div class="row">
        <div class="col-sm-6 mt-3">
          From:
          <div class="form-group">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="YYYY-MM-DD" formControlName="from" ngbDatepicker #dateFrom="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" (click)="dateFrom.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          To:
          <div class="form-group">
            <div class="input-group">
              <input class="form-control form-control-sm" placeholder="YYYY-MM-DD" formControlName="to" ngbDatepicker #dateTo="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" (click)="dateTo.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-sm mt-3 btn-outline-secondary" [disabled]="!deliveryForm.valid">
        Download
      </button>
    </form>
  </div>
</ng-template>